/*.jumbotron {*/
/*    color: white;*/
/*    background-image: url("../images/traveler.jpg");*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    min-height: 50vh;*/
/*    !*min-width: 50vw;*!*/
/*    background-color: rgba(0, 0, 0, 0.4);*/

/*}*/
header {
    background-image: url("../images/traveler.jpg");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    /* red, green, blue, alpha (opacity) */
    background-color: rgba(0,0,0,0.4);
    min-height: 50vh;
    min-width: 50vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

img {
    width: 100%;
}

.img-class {
    border: 5px solid black;

}


.row {
    padding-bottom: 50px;
}
